* {
    margin: 0px;
}

.container {
    display: grid;

    grid-template-areas: "header header" "menu menu"  " content content" "footer footer";
    grid-gap: 5px;
    height: 100vh;
}

.item {
    background-color: dodgerblue;
    padding: 50px;
    border: 1px solid lightgray;
}

.header {
    grid-area: header;
}
.menu{
    grid-area: menu;
}



.left {
    grid-area: left;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.footer {
    grid-area: footer;
}

.cd {
    border: 1px solid black;
    background-color: yellow;
    height: 200px;
    width: 560px;
    padding: 20px;
    font-size: 20px;
    color: aliceblue;
    font-weight: bolder;
    text-align: center;
}
.row{
    display: flex;
    flex-direction: row;

}

.ca{
    background-color: gray;
    height: 80px;
    width: 200px;

}
.ca1{
    background-color: blue;
    height: 80px;
    width: 200px;

}
.ca2{
    background-color: pink;
    height: 80px;
    width: 200px;

}
.cc1{
    background-color: yellow;
    width: 50px;
    height: 200px;
   
    padding: 30px;
    border: 1px solid lightgray;
    align-items: center;
}