h1{
    font-size: 30px;
    font-style: italic ;
    text-shadow: 8px 8px 5px rgba(0,0,0,0.5) ;


}
a{

}
li.enlace{
    display: inline-block ;

}

.caja-enlace{
    display: inline-block;
    width: 200px;
    border: 1px solid lightgrey;
    padding: 5px;
    margin: 5px;
   /*box-shadow: 8px 8px 5px rgba(0,0,0,0.5) ;*/

}
.cotaier-imagen{
    display: flex;
    justify-content: center;
    margin: 5px;

}
.imagen{
    width: 200px;
    height: 200px;

}

.container-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;

}
.container-footer{
    color: aliceblue ;
    font-size: 20px;
    background-color: black;
}